<link rel="stylesheet" type="text/css" href="@Url.Content("/Content/style.css")" />

@model IEnumerable<Test1Admin.Models.Type>
@{
    Layout = ViewBag.Layout;
}

<h2>Quản lý thể loại</h2>

<table>
    <tr>
        <th>TenTheLoai</th>
        <th>Tuy chon</th>
    </tr>
    @foreach (var t in ViewBag.Alltype)
    {
        <tr>
            <td>@t.TypeName</td>
            <td>
                <button>Sửa</button>
                <button>Xóa</button>
            </td>
        </tr>
    }
</table>

<script src='~/Scripts/main.js'></script>